<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Installer.Lumia.Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Intaller.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>  
    <userSettings>
        <Installer.Lumia.Application.Properties.Settings>
            <setting name="WimFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DriverPackFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SizeReservedForWindows" serializeAs="String">
                <value>18</value>
            </setting>
        </Installer.Lumia.Application.Properties.Settings>
        <Intaller.Wpf.Properties.Settings>
            <setting name="WimFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DriverPackFolder" serializeAs="String">
                <value />
            </setting>
        </Intaller.Wpf.Properties.Settings>
    </userSettings>
</configuration>
